.App-search {
  margin-bottom: 0;
  margin: 0 auto;
  position: relative;
  right: 70px;
  align-items: center;
  justify-content: center;
}

.App-search input {
  margin: 0px;
  width: 100%;
}

.App-search input[type='text'] {
  background-color: rgb(255, 245, 245);
  height: 35px;
  min-width: 350px;
}

.App-search div {
  margin-bottom: 0;
  height: 35px;
  display: flex;
  flex-grow: 1;
}

.App-search button {
  line-height: 35px;
  height: 35px;
  margin-left: 10px;
  display: inline-flex;
}